/features export-ignore
/tests export-ignore
.editorconfig export-ignore
.git-blame-ignore-revs export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.github export-ignore
.php-cs-fixer.dist.php export-ignore
AGENTS.md export-ignore
behat.yml.dist
box.json export-ignore
CONTRIBUTING.md export-ignore
phpstan.dist.neon export-ignore
phpunit.xml.dist export-ignore
rector.php export-ignore
