language: php

php: [5.6, 7.0, 7.1]

sudo: false

cache:
  directories:
    - $HOME/.composer/cache

branches:
  only:
    - master

matrix:
  include:
    - php: 5.6
      env: DEPENDENCIES='low'
    - php: 5.6
      env: SYMFONY_VERSION='2.7.*'
    - php: 5.6
      env: SYMFONY_VERSION='2.8.*'

before_install:
  - phpenv config-rm xdebug.ini

before_script:
  - if [ "$SYMFONY_VERSION" != "" ]; then composer require --no-update "symfony/symfony:${SYMFONY_VERSION}"; fi;
  - if [ "$DEPENDENCIES" != "low" ]; then composer update; fi;
  - if [ "$DEPENDENCIES" = "low" ]; then composer update --prefer-lowest; fi;
  - export PATH=./bin:$PATH
  - echo "<?php echo '@php5' . implode(',@php5.', range(3, PHP_MINOR_VERSION));" > php_version_tags.php

script:
  - phpunit
  - behat -fprogress --strict --tags '~@php-version,'`php php_version_tags.php`

before_deploy:
  - curl -LSs https://box-project.github.io/box2/installer.php | php
  - export PATH=.:$PATH
  - rm -Rf ./vendor
  - composer install --no-dev -o
  - box.phar build

deploy:
  provider: releases
  api_key: $GITHUB_API_KEY
  file: behat.phar
  skip_cleanup: true
  on:
    tags: true
    php: 5.6
