<?php

/*
 * This file is part of the Behat.
 * (c) Konstantin Kudryashov <ever.zet@gmail.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

if (!class_exists('Behat\Behat\ClassLoader\UniversalClassLoader')) {
    require_once __DIR__ . '/src/Behat/Behat/ClassLoader/UniversalClassLoader.php';
}
use Behat\Behat\ClassLoader\UniversalClassLoader;

$vendorDir  = __DIR__ . '/vendor';
if (is_dir($vendorDir . '/Gherkin')) {
    $gherkinDir = $vendorDir . '/Gherkin';
} else {
    $gherkinDir = require_once('gherkin/libpath.php');
}

$loader = new UniversalClassLoader();
$loader->registerNamespaces(array(
    'Symfony\Component\Console'             => $vendorDir,
    'Symfony\Component\DependencyInjection' => $vendorDir,
    'Symfony\Component\Config'              => $vendorDir,
    'Symfony\Component\Translation'         => $vendorDir,
    'Symfony\Component\EventDispatcher'     => $vendorDir,
    'Symfony\Component\Finder'              => $vendorDir,
    'Symfony\Component\Yaml'                => $vendorDir,
    'Behat\Behat'                           => __DIR__ . '/src',
    'Behat\Gherkin'                         => $gherkinDir . '/src'
));
$loader->register();
