<?php

/*
 * This file is part of the Behat.
 * (c) Konstantin Kudryashov <ever.zet@gmail.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

if (!class_exists('Behat\Behat\ClassLoader\UniversalClassLoader')) {
    require_once __DIR__.'/src/Behat/Behat/ClassLoader/UniversalClassLoader.php';
}
use Behat\Behat\ClassLoader\UniversalClassLoader;

$loader = new UniversalClassLoader();
$loader->registerNamespaces(array(
    'Symfony\Component\Console'             => __DIR__.'/vendor/symfony/src',
    'Symfony\Component\DependencyInjection' => __DIR__.'/vendor/symfony/src',
    'Symfony\Component\Translation'         => __DIR__.'/vendor/symfony/src',
    'Symfony\Component\EventDispatcher'     => __DIR__.'/vendor/symfony/src',
    'Symfony\Component\Finder'              => __DIR__.'/vendor/symfony/src',
    'Symfony\Component\Yaml'                => __DIR__.'/vendor/symfony/src',
    'Behat\Behat'                           => __DIR__.'/src',
    'Behat\Gherkin'                         => __DIR__.'/vendor/gherkin/src'
));
$loader->register();
