<?php

/*
 * This file is part of the Behat.
 * (c) 2010 Konstantin Kudryashov <ever.zet@gmail.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

if (!class_exists('Everzet\\Behat\\UniversalClassLoader')) {
    require_once __DIR__.'/src/Everzet/Behat/UniversalClassLoader.php';
}
use Everzet\Behat\UniversalClassLoader;

$loader = new UniversalClassLoader();
$loader->registerNamespaces(array(
    'Symfony\Component\Console'             => __DIR__.'/vendor/symfony/src'
  , 'Symfony\Component\DependencyInjection' => __DIR__.'/vendor/symfony/src'
  , 'Symfony\Component\EventDispatcher'     => __DIR__.'/vendor/symfony/src'
  , 'Symfony\Component\Finder'              => __DIR__.'/vendor/symfony/src'
  , 'Symfony\Component\Yaml'                => __DIR__.'/vendor/symfony/src'
  , 'Everzet\Gherkin'                       => __DIR__.'/src'
  , 'Everzet\Behat'                         => __DIR__.'/src'
));
$loader->register();

