<?php

use Behat\Config\Config;

$config = new Config([
    'default' => [
        'gherkin' => [
            'filters' => [
                'tags' => '~@php8'
            ],
        ],
    ],
]);

return $config;
