default:
  paths:
    features:   %%BEHAT_CONFIG_PATH%%/features
    bootstrap:  %%BEHAT_CONFIG_PATH%%/features/bootstrap

annotations:
  paths:
    features:   %%BEHAT_CONFIG_PATH%%/features/annotations

closures:
  paths:
    features:   %%BEHAT_CONFIG_PATH%%/features/closures
