default:
  paths:
    features:   %behat.paths.base%/features
    bootstrap:  %behat.paths.base%/features/bootstrap

annotations:
  paths:
    features:   %behat.paths.base%/features/annotations

closures:
  paths:
    features:   %behat.paths.base%/features/closures
