parameters:
    level: 6
    paths:
        - src
    ignoreErrors:
        -
            identifier: class.notFound
            paths:
                - src/Behat/Testwork/Exception/Stringer/PHPUnitExceptionStringer.php
        -
            identifier: missingType.iterableValue
