parameters:
    level: 3
    paths:
        - src
    excludePaths:
        - src/Behat/Testwork/EventDispatcher/TestworkEventDispatcherSymfonyLegacy.php
        - src/Behat/Testwork/EventDispatcher/TestworkEventDispatcherSymfony5.php
    ignoreErrors:
        -
            identifier: class.notFound
            paths:
                - src/Behat/Testwork/Exception/Stringer/PHPUnitExceptionStringer.php
        -
            identifier: constructor.unusedParameter
            paths:
                - src/Behat/Behat/Transformation/Transformation/ReturnTypeTransformation.php
