<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true" bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Behat test suite">
            <directory>./tests/Behat/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./src/Behat/</directory>
        </whitelist>
    </filter>
</phpunit>
