name: Build

on:
    push:
        branches: [master]
    pull_request: ~
    release:
        types: [created]
    workflow_dispatch: ~

jobs:
    tests:
        runs-on: ${{ matrix.os }}
        defaults:
            run:
                shell: bash
        name: Build and test
        strategy:
            fail-fast: false
            matrix:
                php: [7.2, 7.3, 7.4, 8.0, 8.1, 8.2]
                os: [ubuntu-latest]
                composer-mode: [update]
                symfony-version: ['']
                include:
                    # Get the existing 7.2 to publish the phar
                    -   php: 7.2
                        os: ubuntu-latest
                        composer-mode: update
                        publish-phar: true
                        symfony-version: ''

                    # 7.2 build with lowest dependencies
                    -   php: 7.2
                        os: ubuntu-latest
                        composer-mode: lowest
                        symfony-version: ''

                    # MacOS on latest PHP only
                    -   php: 8.2
                        os: macos-latest
                        composer-mode: update
                        symfony-version: ''

                    # Windows on latest PHP only
                    -   php: 8.2
                        os: windows-latest
                        composer-mode: update
                        symfony-version: ''

                    # Symfony jobs:
                    -   php: 8.1
                        os: ubuntu-latest
                        composer-mode: update
                        symfony-version: '4.4'
                    -   php: 8.2
                        os: ubuntu-latest
                        composer-mode: update
                        symfony-version: '5.4'
                    -   php: 8.2
                        os: ubuntu-latest
                        composer-mode: update
                        symfony-version: '6.0'

        steps:
            -   uses: actions/checkout@v2

            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: "${{ matrix.php }}"
                    ini-values: "phar.readonly=0,zend.exception_ignore_args=Off"
                    coverage: none

            -   name: Install symfony/flex
                if: matrix.symfony-version != ''
                run: |
                    composer config --global --no-plugins allow-plugins.symfony/flex true &&
                    composer global require symfony/flex

            -   name: Install latest dependencies
                if: matrix.composer-mode == 'update'
                env:
                    SYMFONY_REQUIRE: ${{ matrix.symfony-version }}.*
                run: composer update

            -   name: Install lowest dependencies
                if: matrix.composer-mode == 'lowest'
                run: composer update --prefer-lowest

            -   name: Run tests (phpunit)
                run: ./vendor/bin/phpunit

            -   name: Run tests (Behat)
                run: ./bin/behat -fprogress --strict

            -   name: Run tests (Behat for PHP 8.0)
                if: matrix.php >= 8.0
                run: ./bin/behat -fprogress --strict --tags=@php8

            -   name: Build the PHAR
                if: matrix.publish-phar == true
                run: |
                    curl -LSs https://box-project.github.io/box2/installer.php | php &&
                    export PATH=.:$PATH &&
                    rm -Rf ./vendor &&
                    composer install --no-dev -o &&
                    box.phar build

            -   uses: actions/upload-artifact@v1
                name: Publish the PHAR
                if: matrix.publish-phar == true
                with:
                    name: behat.phar
                    path: behat.phar

    static-analysis:
        runs-on: ubuntu-latest
        name: Static analysis
        steps:
            - uses: actions/checkout@v2

            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: 8.2
                  ini-values: "zend.exception_ignore_args=Off"
                  coverage: none

            - name: Install dependencies
              run: composer update

            - name: Run Psalm
              run: ./vendor/bin/psalm --output-format=github

    publish-phar:
        runs-on: ubuntu-latest
        name: Publish the PHAR for release
        needs: tests
        if: github.event_name == 'release'
        steps:
            -   uses: actions/download-artifact@v1
                with:
                    name: behat.phar
                    path: .
            -   name: Upload behat.phar
                uses: actions/upload-release-asset@v1
                env:
                    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                with:
                    upload_url: ${{ github.event.release.upload_url }}
                    asset_path: behat.phar
                    asset_name: behat.phar
                    asset_content_type: application/zip
