name: Build

on:
    push:
        branches: [master]
    pull_request: ~
    release:
        types: [created]
    workflow_dispatch: ~

jobs:
    tests:
        runs-on: ubuntu-latest
        name: Build and test
        strategy:
            fail-fast: false
            matrix:
                include:
                    -   php: 7.2
                        publish-phar: true
                    -   php: 7.2
                        composer-flags: --prefer-lowest
                    -   php: 7.3
                    -   php: 7.4
                    -   php: 7.4
                        SYMFONY_REQUIRE: 4.4.*
                    -   php: 8.0
                    -   php: 8.0
                        stability: dev
                        SYMFONY_REQUIRE: 6.0.*
                    -   php: 8.1

        steps:
            -   uses: actions/checkout@v2

            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: "${{ matrix.php }}"
                    ini-values: "phar.readonly=0,zend.exception_ignore_args=Off"
                    coverage: none

            -   name: Configure Composer minimum stability
                if: matrix.stability
                run: composer config minimum-stability ${{ matrix.stability }}

            -   name: Install symfony/flex
                run: composer global require symfony/flex

            -   name: Uninstall Psalm
                run: composer remove --dev --no-update vimeo/psalm

            -   name: Install dependencies
                env:
                    SYMFONY_REQUIRE: "${{ matrix.SYMFONY_REQUIRE }}"
                run: composer update ${{ matrix.composer-flags }}

            -   name: Run tests (phpunit)
                run: ./vendor/bin/phpunit

            -   name: Run tests (Behat)
                run: ./bin/behat -fprogress --strict

            -   name: Run tests (Behat for PHP 8.0)
                if: matrix.php >= 8.0
                run: ./bin/behat -fprogress --strict --tags=@php8

            -   name: Build the PHAR
                if: matrix.php != '8.0'
                run: |
                    curl -LSs https://box-project.github.io/box2/installer.php | php &&
                    export PATH=.:$PATH &&
                    rm -Rf ./vendor &&
                    composer install --no-dev -o &&
                    box.phar build

            -   uses: actions/upload-artifact@v1
                name: Publish the PHAR
                if: matrix.publish-phar
                with:
                    name: behat.phar
                    path: behat.phar

    psalm:
        runs-on: ubuntu-latest
        name: Psalm (PHP 8.0)
        steps:
            - uses: actions/checkout@v2

            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: 8.0
                  ini-values: "phar.readonly=0,zend.exception_ignore_args=Off"
                  coverage: none

            - name: Install dependencies
              run: composer update

            - name: Run Psalm
              run: ./vendor/bin/psalm --output-format=github

    publish-phar:
        runs-on: ubuntu-latest
        name: Publish the PHAR
        needs: tests
        if: github.event_name == 'release'
        steps:
            -   uses: actions/download-artifact@v1
                with:
                    name: behat.phar
                    path: .
            -   name: Upload behat.phar
                uses: actions/upload-release-asset@v1
                env:
                    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                with:
                    upload_url: ${{ github.event.release.upload_url }}
                    asset_path: behat.phar
                    asset_name: behat.phar
                    asset_content_type: application/zip
